@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Mono&display=swap');
/* premade media queries */

/* TODO: add media query for max-width 300px */

@media only screen and (max-width: 450px) {
    .ring-3 {
        display: none !important;
        left:-35vw !important;
        top:-10vh !important;
        max-width: 300px;
        max-height: 300px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-2 {
        display: none !important;
    }

    .ring-1 {
        display: none !important;
        left:-40vw !important;
        top:200vh !important;
        max-width: 300px;
        max-height: 300px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-0 {
        display: none !important;
    }

    .star#first-star{top: 40vh !important;}
    .star#second-star{top: 75vh;}
    .star#third-star{top: 125vh !important;}
    .star#fourth-star{top: 210vh !important;}
    .star#fifth-star{top: 308vh !important;}

    *{
        max-width: 100vw;
    }

    html {
        background-color: #1c1c3e;
    }

    .body {
        width: 100%;
        background-color: #1c1c3e !important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .col-20 {
        min-width: 100%;
    }  
    .col-25 {
        min-width: 100%;
    }    
    .col-35 {
        min-width: 100%;
    }

    /* Row 1 */

    .row-1 {
        flex-direction: column;
        align-items: center;
    }

    .cv {
        z-index: 1;
    }


    .list#soft-skills .mid-text{
        justify-content: center;
        width: 100%;
    }


    .list#languages .lang {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .list#languages .mid-text{
        margin-top: 0;
        align-items: center;
        justify-content: end;
        max-width: 15%;
    }


    .list#more-info .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   

    .list#more-info .text{
        width: 35%;  
    }

    .list#more-info p.mid-text {
        font-size: 0.85rem !important;
    }

    .list#more-info .info{
        flex-direction: column;
    }

    .list#more-info .info .text:first-child{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 15%;
    } 

    .list#more-info #contact {
        width: 90%;
        align-self: flex-end;
    }   

    .list#more-info .hidden-item {
        width: 70%;
    }

    .list#more-info .hidden-click-item:first-child {
        margin-right: 8%;
    }

    .list#more-info .extra{
        min-width: 25%;
        align-self: center;
    }


    /* Row 2 */

    .row-2 {
        flex-direction: column;
        align-items: center;
        max-width: 85%;
    }

    .list-bottom {
        min-width: 100%;
        margin: 5% 0;
    }

    .list-bottom#list-studies .content{
        margin-top: 0;
        justify-content: center;
    }

    .list-bottom#list-studies .progress {
        display: none;
    }

    .list-bottom#list-studies #hover {
        width: 25%;
    }
    .list-bottom#list-studies .hidden-item {
        width: 70%;
    }

    .list-bottom#list-tools .hidden-item{
        width: 100%;
    }

    .list-bottom#list-tools .has-hidden-item{
        width: 90% !important;
    }

    .list-bottom#list-skills .item{
        width: 85%;
        padding: 15%;
    }
    .list-bottom#list-skills .hidden-item{
        width: 100%;
    }

    .list-bottom#list-experience #astro{
        width: 40%;
        margin: 10%;

    }

    .list-bottom#list-experience a{
        width: 115%;
        text-align: center;
    }

}

@media only screen and (max-width: 600px) {
    .ring-3 {
        left:-35vw !important;
        top:-10vh !important;
        max-width: 500px;
        max-height: 500px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-2 {
        display: none !important;
    }

    .ring-1 {
        left:-40vw !important;
        top:200vh !important;
        max-width: 500px;
        max-height: 500px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-0 {
        display: none !important;
    }

    .star#first-star{top: 25vh;}
    .star#second-star{top: 75vh;}
    .star#third-star{top: 105vh;}
    .star#fourth-star{top: 190vh;}
    .star#fifth-star{top: 228vh;}

    *{
        max-width: 100vw;
    }

    html {
        background-color: #1c1c3e;
    }

    .body {
        width: 100%;
        background-color: #1c1c3e !important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .col-20 {
        min-width: 100%;
    }  
    .col-25 {
        min-width: 100%;
    }    
    .col-35 {
        min-width: 100%;
    }

    /* Row 1 */

    .row-1 {
        flex-direction: column;
        align-items: center;
    }

    .cv {
        z-index: 1;
    }


    .list#soft-skills .mid-text{
        justify-content: center;
        width: 100%;
    }


    .list#languages .lang {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .list#languages .mid-text{
        margin-top: 0;
        align-items: center;
        justify-content: end;
        max-width: 15%;
    }


    .list#more-info .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   

    .list#more-info .text{
        width: 35%;  
    }

    .list#more-info p.mid-text {
        font-size: 0.8rem;
    }

    .list#more-info .hidden-item {
        width: 80%;
    }

    .list#more-info #contact {
        width: 50%;
    }   

    /* Row 2 */

    .row-2 {
        flex-direction: column;
        align-items: center;
    }

    .list-bottom {
        min-width: 100%;
        margin: 5% 0;
    }

    .list-bottom#list-studies .content{
        margin-top: 0;
        justify-content: center;
    }

    .list-bottom#list-studies .progress {
        display: none;
    }

    .list-bottom#list-studies #hover {
        width: 25%;
    }
    .list-bottom#list-studies .hidden-item {
        width: 70%;
    }

    .list-bottom#list-tools .hidden-item{
        width: 100%;
    }

    .list-bottom#list-skills .item{
        width: 85%;
        padding: 15%;
    }
    .list-bottom#list-skills .hidden-item{
        width: 100%;
    }

    .list-bottom#list-experience #astro{
        width: 40%;
        margin: 10%;

    }

}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    
    .ring-3 {
        left:-35vw !important;
        top:-10vh !important;
        max-width: 500px;
        max-height: 500px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-2 {
        display: none !important;
    }

    .ring-1 {
        left:-40vw !important;
        top:200vh !important;
        max-width: 500px;
        max-height: 500px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-0 {
        display: none !important;
    }

    .star#first-star{top: 25vh;}
    .star#second-star{top: 75vh;}
    .star#third-star{top: 105vh;}
    .star#fourth-star{top: 190vh;}
    .star#fifth-star{top: 228vh;}

    *{
        max-width: 100vw;
    }

    html {
        background-color: #1c1c3e;
    }

    .body {
        width: 100%;
        background-color: #1c1c3e !important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .col-20 {
        min-width: 100%;
    }  
    .col-25 {
        min-width: 100%;
    }    
    .col-35 {
        min-width: 100%;
    }

    /* Row 1 */

    .row-1 {
        flex-direction: column;
        align-items: center;
    }

    .cv {
        z-index: 1;
    }


    .list#soft-skills .mid-text{
        justify-content: center;
        width: 100%;
    }


    .list#languages .lang {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .list#languages .mid-text{
        margin-top: 0;
        align-items: center;
        justify-content: end;
        max-width: 15%;
    }


    .list#more-info .info {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   

    .list#more-info .text{
        width: 35%;  
    }

    .list#more-info p.mid-text {
        font-size: 0.9rem;
    }

    .list#more-info #contact {
        width: 50%;
    }   

    /* Row 2 */

    .row-2 {
        flex-direction: column;
        align-items: center;
    }

    .list-bottom {
        min-width: 120%;
        margin: 5% 0;
    }

    .list-bottom#list-studies .content{
        margin-top: 0;
        justify-content: center;
    }

    .list-bottom#list-studies .progress {
        display: none;
    }

    .list-bottom#list-studies #hover {
        width: 25%;
    }
    .list-bottom#list-studies .hidden-item {
        width: 70%;
    }

    .list-bottom#list-tools .hidden-item{
        width: 100%;
    }

    .list-bottom#list-skills .item{
        width: 85%;
        padding: 15%;
    }
    .list-bottom#list-skills .hidden-item{
        width: 100%;
    }

    .list-bottom#list-experience #astro{
        width: 40%;
        margin: 10%;

    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ring-3 {
        left:-35vw !important;
        top:-10vh !important;
        max-width: 500px;
        max-height: 500px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-2 {
        display: none !important;
    }

    .ring-1 {
        left:-40vw !important;
        top:200vh !important;
        max-width: 500px;
        max-height: 500px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-0 {
        display: none !important;
    }

    .star#first-star{top: 25vh;}
    .star#second-star{top: 75vh;}
    .star#third-star{top: 105vh;}
    .star#fourth-star{top: 190vh;}
    .star#fifth-star{top: 228vh;}

    *{
        max-width: 100vw;
    }

    html {
        background-color: #1c1c3e;
    }

    .body {
        width: 100%;
        background-color: #1c1c3e !important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .col-20 {
        min-width: 100%;
    }  
    .col-25 {
        min-width: 100%;
    }    
    .col-35 {
        min-width: 100%;
    }

    /* Row 1 */

    .row-1 {
        flex-direction: column;
        align-items: center;
    }

    .cv {
        z-index: 1;
        max-height: 250px !important;
    }

    .list#about .title p{
        font-size: 1.4rem;
    }

    .list#about .mid-text{
        font-size: 1.1rem;
    }

    .title p{
        font-size: 1.8rem;
    }

    .list .mid-text{
        font-size: 1.2rem;
    }

    .list#soft-skills .mid-text{
        justify-content: center;
        width: 100%;
    }


    .list#languages .lang {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .list#languages .mid-text{
        margin-top: 0;
        align-items: center;
        justify-content: end;
        max-width: 15%;
    }


    .list#more-info .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   

    .list#more-info .text{
        width: 35%;  
    }

    .list#more-info p.mid-text {
        font-size: 1.1rem;
    }

    .list#more-info #contact {
        width: 50%;
    }   

    .list#more-info .hidden-item{
       width: 80%; 
    }

    .list#more-info #contact p{
        font-size: 1.1rem;
    }

    /* Row 2 */

    .row-2 {
        flex-direction: column;
        align-items: center;
    }

    .list-bottom {
        min-width: 120%;
        margin: 5% 0;
    }

    .list-bottom .item p{
        font-size: 1rem;
    }

    .list-bottom#list-studies .content{
        margin-top: 0;
        justify-content: center;
    }

    .list-bottom#list-studies .progress {
        display: none;
    }

    .list-bottom#list-studies #hover {
        width: 25%;
    }
    .list-bottom#list-studies .hidden-item {
        width: 70%;
    }

    .list-bottom#list-tools .hidden-item{
        width: 100%;
    }

    .list-bottom#list-skills .item{
        width: 85%;
        padding: 15%;
    }
    .list-bottom#list-skills .hidden-item{
        width: 100%;
    }

    .list-bottom#list-experience #astro{
        width: 40%;
        margin: 10%;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ring-3 {
        left:-20vw !important;
        top:-20vh !important;
        max-width: 800px;
        max-height: 800px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-2 {
        display: none !important;
    }

    .ring-1 {
        left:-40vw !important;
        top:200vh !important;
        max-width: 1500px;
        max-height: 1500px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-0 {
        display: none !important;
    }

    .star#first-star{top: 25vh;}
    .star#second-star{top: 75vh;}
    .star#third-star{top: 105vh;}
    .star#fourth-star{top: 190vh;}
    .star#fifth-star{top: 228vh;}

    *{
        max-width: 100vw;
    }

    html {
        background-color: #1c1c3e;
    }

    .body {
        width: 100%;
        background-color: #1c1c3e !important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .col-20 {
        min-width: 47%;
        margin-bottom: 5%;
    }  
    .col-25 {
        min-width: 47%;
    }    
    .col-35 {
        min-width: 47%;
    }

    /* Row 1 */

    .row-1 {
        align-items: center;
        flex-wrap: wrap;
    }

    .cv {
        z-index: 1;
        max-height: 250px !important;
    }

    .list#about .title p{
        font-size: 1.7rem;
    }

    .list#about .mid-text{
        font-size: 1.3rem;
    }

    .title p{
        font-size: 1.8rem;
    }

    .list .mid-text{
        font-size: 1.45rem;
    }

    .list#soft-skills {
        margin-top: 25%;
    }

    .list#soft-skills .mid-text{
        justify-content: center;
        width: 100%;
    }


    .list#languages {
        width: 75%;
    }

    .list#languages .lang {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .list#languages .mid-text{
        margin-top: 0;
        align-items: center;
        justify-content: end;
        max-width: 15%;
    }


    .list#more-info{
        margin-top: -1%;
        margin-left: -20%;
        width: 95%;
    }

    .list#more-info .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   

    .list#more-info #contact{
        align-items: end;
        justify-content: space-between;
    }

    .list#more-info .hidden-click-item {
        width: 120%;
        align-items: e;
        justify-content: start;
    }

    .list#more-info #phone{
        margin-left: 5%;
    }

    .list#more-info .text{
        width: 30%;  
    }

    .list#more-info .extra#click {
        width: 30%;
    }
    
    .list#more-info p.mid-text {
        font-size: 1.2rem;
    }

    .list#more-info #contact {
        width: 50%;
    }   

    .list#more-info #contact p{
        font-size: 1.2rem;
    }

    .list#more-info .hidden-item{
        width: 50%;
    }

    /* Row 2 */

    .row-2 {
        flex-direction: column;
        align-items: center;
    }

    .list-bottom {
        min-width: 250%;
        margin: 20% 0;
    }

    .list-bottom .item p{
        font-size: 1.5rem;
    }

    .list-bottom#list-studies .content{
        margin-top: 0;
        justify-content: center;
    }

    .list-bottom#list-studies .progress {
        display: none;
    }

    .list-bottom#list-studies #hover {
        width: 30%;
        padding: 1%;
    }

    .list-bottom#list-studies #hover p{
        font-size: 1.2rem;
    }

    .list-bottom#list-studies .hidden-item {
        width: 70%;
    }

    .list-bottom#list-tools .hidden-item{
        width: 150%;
    }

    .list-bottom#list-skills .item{
        width: 80%;
        padding: 18%;
    }

    .list-bottom#list-skills .item p{
        font-size: 1.2rem;
    }
    .list-bottom#list-skills .hidden-item{
        width: 150%;
    }

    .list-bottom#list-experience p{
        font-size: 1.5rem;
    }

    .list-bottom#list-experience a{
        margin-top: 5%;
        font-size: 1.5rem;
    }

    .list-bottom#list-experience #astro{
        width: 50%;
        margin: 10%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .ring-3 {
        left:-20vw !important;
        top:-20vh !important;
        max-width: 800px;
        max-height: 800px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-2 {
        display: none !important;
    }

    .ring-1 {
        left:-40vw !important;
        top:200vh !important;
        max-width: 1500px;
        max-height: 1500px;
        border-radius: 50%;
        z-index: 25;
        position: absolute;
        animation-duration: 8s !important;
    }

    .ring-0 {
        display: none !important;
    }

    .star#first-star{top: 25vh;}
    .star#second-star{top: 75vh;}
    .star#third-star{top: 105vh;}
    .star#fourth-star{top: 190vh;}
    .star#fifth-star{top: 228vh;}

    *{
        max-width: 100vw;
    }

    html {
        background-color: #1c1c3e;
    }

    .body {
        width: 100%;
        background-color: #1c1c3e !important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .col-20 {
        min-width: 47%;
        margin-bottom: 5%;
    }  
    .col-25 {
        min-width: 47%;
    }    
    .col-35 {
        min-width: 47%;
    }

    /* Row 1 */

    .row-1 {
        align-items: center;
        flex-wrap: wrap;
    }

    .cv {
        z-index: 1;
        max-height: 300px !important;
    }

    .list#about .title p{
        font-size: 1.7rem;
    }

    .list#about .mid-text{
        font-size: 1.3rem;
    }

    .title p{
        font-size: 1.8rem;
    }

    .list .mid-text{
        font-size: 1.45rem;
    }

    .list#soft-skills {
        margin-top: 25%;
    }

    .list#soft-skills .mid-text{
        justify-content: center;
        width: 100%;
    }


    .list#languages {
        width: 75%;
    }

    .list#languages .lang {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .list#languages .mid-text{
        margin-top: 0;
        align-items: center;
        justify-content: end;
        max-width: 15%;
    }


    .list#more-info{
        margin-top: -1%;
        margin-left: -20%;
        width: 95%;
    }

    .list#more-info .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   

    .list#more-info #contact{
        align-items: end;
        justify-content: space-between;
    }

    .list#more-info .hidden-click-item {
        width: 120%;
        align-items: e;
        justify-content: start;
    }

    .list#more-info #phone{
        margin-left: 5%;
    }

    .list#more-info .text{
        width: 30%;  
    }

    .list#more-info .extra#click {
        width: 30%;
    }
    
    .list#more-info p.mid-text {
        font-size: 1.2rem;
    }

    .list#more-info #contact {
        width: 50%;
    }   

    .list#more-info #contact p{
        font-size: 1.2rem;
    }

    /* Row 2 */

    .row-2 {
        flex-direction: column;
        align-items: center;
    }

    .list-bottom {
        min-width: 250%;
        margin: 20% 0;
    }

    .list-bottom .item p{
        font-size: 1.5rem;
    }

    .list-bottom#list-studies .content{
        margin-top: 0;
        justify-content: center;
    }

    .list-bottom#list-studies .progress {
        display: none;
    }

    .list-bottom#list-studies #hover {
        width: 30%;
        padding: 1%;
    }

    .list-bottom#list-studies #hover p{
        font-size: 1.2rem;
    }

    .list-bottom#list-studies .hidden-item {
        width: 70%;
    }

    .list-bottom#list-tools .hidden-item{
        width: 150%;
    }

    .list-bottom#list-skills .item{
        width: 80%;
        padding: 18%;
    }

    .list-bottom#list-skills .item p{
        font-size: 1.2rem;
    }
    .list-bottom#list-skills .hidden-item{
        width: 150%;
    }

    .list-bottom#list-experience p{
        font-size: 1.5rem;
    }

    .list-bottom#list-experience a{
        margin-top: 5%;
        font-size: 1.5rem;
    }

    .list-bottom#list-experience #astro{
        width: 50%;
        margin: 10%;
    }
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

html {
    background-color: #1c1c3e !important;
}


.body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1c1c3e;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes glowing {
    0% {
        box-shadow: 2px 2px 100px 10px white;
    }

    50% {
        box-shadow: 2px 2px 100px 25px white;
    }

    100% {
        box-shadow: 2px 2px 100px 10px white;
    }
}

a {
    all: unset;
    cursor: pointer;
    color: white;
    background-color: #1c1c3e;
    margin-top: 10px;
    padding: 0.5rem 0.6rem;
    border-radius: 15px;
    transition: all 0.2s;
}

a:hover {
    background-color: white;
    color: #1c1c3e;
}

.cv {
    max-height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 2;
}

.star {
    position: absolute;
    box-shadow: 2px 2px 100px 15px white;
    animation-name: glowing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;

}

.star::before {
    content: "";
    position: absolute;
    background: white;
    width: 0.33em;
    height: 0.383em;
    transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.star::after {
    content: "";
    position: absolute;
    background: white;
    width: 0.33em;
    height: 0.383em;
    transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

#first-star {
    left: 70vw;
    top: 10vh;
    animation-delay: -2s;
}

#second-star {
    left: 24vw;
    top: 80vh;
    animation-delay: -1s;
}

#third-star {
    left: 74vw;
    top: 90vh;
    animation-delay: -2s;
}

#fourth-star {
    left: 45vw;
    top: 40vh;
    animation-delay: -5s;
}

#fifth-star {
    left: 90vw;
    top: 45vh;
    animation-delay: -4s;
}

.ring-0 {
    height: 550px;
    width: 550px;
    position: absolute;
    left: -250px;
    top: -250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 0;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -10s;
}

.ring-1 {
    height: 900px;
    width: 900px;
    position: absolute;
    left: -465px;
    top: -465px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 0;
    animation-name: rotation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-delay: -5s;

}

.ring-2 {
    position: absolute;
    left: -450px;
    top: -450px;
    height: 1000px;
    width: 1000px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 0;
    animation-name: rotation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ring-3 {
    position: absolute;
    left: -550px;
    top: -550px;
    height: 1200px;
    width: 1200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 0;
    animation-name: rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-delay: -3s;
}

.planet {
    position: absolute;
    margin-bottom: -8px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid white;
    align-self: flex-end;
    z-index: 10;
}

#phone, #email {
    cursor: pointer;
}

#phone:hover, #email:hover {
    text-shadow: 1px 1px 1rem white;
    font-weight: 550;
    transition: all ease-in-out 0.3s;
}

 
.photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv{
    margin-top: 15%;
    margin-bottom: -5%;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 30px;
}

.info.name {
    align-items: center;
}

#contact {
    margin-right: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
}

.row-1 {
    background-color: #1c1c3e;
    display: flex;
    justify-content: space-around;
}

.row-2 {
    background-color: #1c1c3e;
    display: flex;
    justify-content: space-around;
}

.col-15 {
    width: 15%;
    background-color: #1c1c3e;
    display: flex;
    flex-direction: column;
    justify-content: start
}

.col-20 {
    width: 20%;
    background-color: #1c1c3e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

}

.col-25 {
    width: 25%;
    background-color: #1c1c3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-35 {
    width: 35%;
    background-color: #1c1c3e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.list-bottom {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    height: 100%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.875);
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    height: 70%;
    width: 85%;
    z-index: 1;
}

.list p {
    margin-top: -10px;
}


.list#about {
    padding-top: 4rem;
    padding-left: 2rem;
    background: none;
}

.list#about .bar {
    margin-bottom: 20px;
}

.bar {
    height: 0.5px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.741);
    margin-bottom: 15px;
}

.vbar {
    height: 100%;
    width: 0.5px;
    background-color: rgba(255, 255, 255, 0.741);
    margin-left: 15px;
}

.content {
    height: 70%;
    width: 85%;
    margin-top: 30px;
    justify-content: space-around;
    display: flex;
}

.progress {
    margin-top: 10px;
    height: 90%;
    width: 10px;
    background-color: #1c1c3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.progress-point {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 20px;
    border: 10px solid #1c1c3e;
}

.points {
    min-height: 100%;
    margin-right: 40px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
}

.list-bottom#list-studies .item{
    padding: 0.8rem;
}


p {
    text-align: center;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 550;
    color: white;
}

.text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.mid-text {
    width: 85%;
    margin-top: 0rem;
    text-align: justify;
    font-size: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

#astro {
    max-height: 130px;
    max-width: 130px;
    margin-top: -20px;
}

.small-icon {
    height: 25px;
    width: auto;
    margin-left: 15px;
}

.medium-icon {
    height: 40px;
    width: auto;
    margin-left: 10px;
}

.icon {
    border-radius: 3px;
    height: 20px;
    width: auto;
    margin: 0 0 0 10px;
}

.h1 {
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.h2 {
    color: rgb(213, 212, 212);
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
    padding: 0;

}

.h3 {
    font-size: 0.8rem;
}

.item {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    position: relative;
}

.list-bottom .item {
    background-color: #1c1c3e;
}




.item#info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0 0 0 10px;
    background-color: none;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lang {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: space-between;
}

.lang-bar {
    margin-left: 0;
    padding: 2px;
    width: 10rem;
    height: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #1c1c3e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prog-lang {
    height: 4px;
    width: 1.3rem;
    border-radius: 4px;
    border: 1.5px solid white;
    background-color: #1c1c3e;
}

.prog-lang#filled {
    background-color: white;
}

#tools {
    width: 100%;
}

#tools .items {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    grid-gap: 5px;
    margin-left: -20px;
}

#skills .items {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    grid-gap: 20px;
}

#tools .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#tools .item img {
    margin-right: 15px;
}

#skills .item {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#skills .item p {
    font-size: 0.9rem;
    padding-right: 0.8rem;
    margin-left: -5px;
}

#skills .item img {
    margin: 0 15px 0 5px;
}

#experience .items {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#experience p {
    text-align: center;
}

.col-25 .list {
    align-items: start;
    border: none;
    background-color: #1c1c3e;
    box-shadow: none;
}

.col-25 .list p {
    font-size: 1rem;
    padding: 0rem;
    margin-left: 1rem;
}

.col-25 .list .bar {
    margin: 0.5rem;
}

.hidden-item {
    display: none;
    z-index: 2;
    width: 10vw;
    background-color: #1c1c3e;
    border: 1px solid white;
    border-radius: 5%;
    position: absolute;
    bottom: 65px;
    left: 45px;
}

#tools .hidden-item {
    left: -15px;
}

#skills .hidden-item {
    left: -25px;
    bottom: 70px;
}

.hidden-item p {
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

.hidden-item#phone {
    left: -40px;
    bottom: 50px;
}

.hidden-item#email {
    bottom: 40px;
    left: 40px;
}

.extra {
    font-size: 0.65rem;
    background-color: #1c1c3e;
    border: 1px solid white;
    border-radius: 5%;
}


.extra p {
    margin-top: 0;
    font-size: 0.6rem;
}

.extra#click {
    top: 19vh;
}

#name {
    color: white;
    font-size: 2rem;
}

#hover {
    align-self: center;
    justify-self: center;
    position: absolute;
    right: 1rem;
    top: 6.4rem;
    z-index: 3;
    transform: rotate(20deg);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 1.7rem;
}