---

---

<footer>
  <p>
    If you have questions about any part of this resume, feel free to message me
    and I'll pleased to answer them. Also, if you have any advice, it will be
    highly appreciated. You can contact me via my social links:
  </p>
  <div class="contact">
    <a href="mailto:jorgecarfacpsico@gmail.com" target="_blank">Email</a>
    <a href="https://www.linkedin.com/in/jorge-carrasco-facundo" target="_blank"
      >LinkedIn</a
    >
    <a href="https://github.com/JorgeCarrascoF" target="_blank">GitHub</a>
  </div>
  <p>
    &copy; 2024 - Made with
    <a href="https://astro.build/" target="_blank">Astro</a>
  </p>
</footer>

<style>
  footer {
    width: 100%;
    padding: 2rem 0;
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #161616;
  }

  footer p {
    font-size: 1.2rem;
    width: 60%;
    text-align: center;
  }

  footer a {
    font-size: 1.2rem;
    color: #facc15;
    text-decoration: none;
  }

  .contact {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  @media (max-width: 767px) {
    footer p {
      width: 80%;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    footer p {
      width: 80%;
    }
  }
</style>
